*{
    box-sizing: border-box; 
    font-family: Digital-7 Mono; 
}

body{
    padding: 0; 
    margin: 0; 
}


#outerwrapper{
    display: flex; 
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;  
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
}



.display{
    display: flex; 
    grid-column: 1/ -1; 
    background-color: #b2b9b7;
    justify-content: space-around; 
    align-items: flex-end; 
    flex-direction: column;
    padding: 5px; 
    text-shadow: 1.3px 1.3px #383838; 
    margin-bottom: 3px; 
    word-wrap: break-word; 
    word-break: break-all; 
    
}

.display .num1{
    color:  black;
    font-size: 2rem; 
}


.display .num2{
    color: black;
    font-size: 3rem; 
}

.container{
    display: grid; 
    background-color: lightsalmon; 
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: minmax(120px, auto) repeat(5, 85px);   
    border: 10px solid slategray; 
    border-radius: 4px; 
    background-color: black;
    padding: 5px; 
    align-content: center; 
    
    
}

button {
    border-radius: 5%;
    font-size: 1.5em;
    margin: 1px; 
    font-weight: initial;
    border: 1px solid black; 
    cursor: pointer; 

}

button:hover{
    background-color:rgba(255,255,255,.9); 
}

.clr-group-1{
    background-color: #B31B1B;
}

.clr-group-2{
    background-color: #FF8F1F;
    font-size: 1.5rem; 
     
}

.backspace{
    font-size: 2rem; 
    font-weight: 700; 
}

.grid-item-add{
    font-size: 2.2rem; 
    font-weight: 100;
    
}

.grid-item-subtract{
    font-size: 2.2rem; 
    font-weight: 100;;
}
.decimal{
    font-size: 3rem; 
}

.equals{
    font-size: 2rem;
}

.clr-group-3{
    background-color: #7CB9E8;
}